<%
  scripts = content.entries(content_type: 'scripts')
%>
<div class="container">
  <h1>Scott E. Swartz</h1>
  <h2>Writer / Director</h2>
  <section class='scripts'>
    <ul class='scripts-list'>
      <% scripts.each do |script| %>
        <li class="script">
          <p>
            <a href="<%= script.fields[:slug] %>">
              <%= script.fields[:title] %>
            </a>
          </p>
        </li>
      <% end %>
    </ul>
  </section>

  <footer>
    <h3>ScottESwartz@gmail.com</h3>
  </footer>
</div>
