<%
  script = content.entries(content_type: 'scripts').reverse_each.first
%>
<nav style='padding: 20px;'>
  <a href='/'>Scott E. Swartz</a>
</nav>



<script>
  // https://developer.tizen.org/community/tip-tech/displaying-pdf-files-pdf.js-library
  if (!window.requestAnimationFrame) {
      window.requestAnimationFrame = (function() {
      return window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame ||
          window.oRequestAnimationFrame ||
          window.msRequestAnimationFrame ||
          function(callback, element) {
              window.setTimeout(callback, 1000 / 60);
          };
      })();
  }

  var currPage = 1
  var numPages = 0
  var pdfFile = null

  PDFJS.getDocument("<%= script.fields[:pdf].image_url %>").then(function(pdf) {
    pdfFile = pdf
    numPages = pdf.numPages
    pdf.getPage( 1 ).then( displaySVGPages );
  });


  function displaySVGPages(page) {
    // Set scale (zoom) level
    var scale = 1;

    // Get viewport (dimensions)
    var viewport = page.getViewport(scale);

    // Get div#the-svg
    var container = document.createElement('SVG');
    document.body.appendChild(container);
    
    // Set dimensions
    container.style.width = '100%';
    container.style.height = '100%';

    // SVG rendering by PDF.js
    page.getOperatorList()
      .then(function (opList) {
        var svgGfx = new PDFJS.SVGGraphics(page.commonObjs, page.objs);
        return svgGfx.getSVG(opList, viewport);
      })
      .then(function (svg) {
        container.appendChild(svg);
      });

    currPage++
    if ( pdfFile !== null && currPage <= numPages ) {
      pdfFile.getPage( currPage ).then( displaySVGPages )
    } else {
      var footer = document.createElement("FOOTER")
      footer.innerHTML = "<a href='/'>Return to Home</a>"
      document.body.appendChild(footer);
    }
  }
</script>
