<%
  script = content.entries(content_type: 'scripts').reverse_each.first
%>
<nav style='padding: 20px;'>
  <a href='/'>Scott E. Swartz</a>
</nav>



<script>
  // https://developer.tizen.org/community/tip-tech/displaying-pdf-files-pdf.js-library
  if (!window.requestAnimationFrame) {
      window.requestAnimationFrame = (function() {
      return window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame ||
          window.oRequestAnimationFrame ||
          window.msRequestAnimationFrame ||
          function(callback, element) {
              window.setTimeout(callback, 1000 / 60);
          };
      })();
  }

  var currPage = 1
  var numPages = 0
  var pdfFile = null

  PDFJS.getDocument("<%= script.fields[:pdf].image_url %>").then(function(pdf) {
    pdfFile = pdf
    numPages = pdf.numPages
    pdf.getPage( 1 ).then( displayPages );
  });

  function displayPages(page) {
    //This gives us the page's dimensions at full scale
    var viewport = page.getViewport(1);

    //We'll create a canvas for each page to draw it on
    var canvas = document.createElement('canvas');
    var context = canvas.getContext('2d');
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    //Draw it on the canvas
    page.render({canvasContext: context, viewport: viewport});

    //Add it to the web page
    document.body.appendChild(canvas);

    //Move to next page
    currPage++
    if ( pdfFile !== null && currPage <= numPages ) {
      pdfFile.getPage( currPage ).then( displayPages )
    } else {
      var footer = document.createElement("FOOTER")
      console.log(footer)
      footer.innerHTML = "<a href='/'>Return to Home</a>"
      document.body.appendChild(footer);
    }
  }

</script>
